.buttonDemo {
  background-color: #fff;
  border: solid 1px #189EA7;
  border-radius: 8px;
  font-size: 14px;
  height: 42px;
  margin-top: 24px;
  width: 293px;
}

.buttonDemo:hover {
  cursor: pointer;
}

.buttonDemoText {
  color: #000;
  opacity: 60%;
  font-weight: 400;
  margin: 0;
}