.main {
  margin-bottom: 10px;
}

.unauthorized-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 208, 208);
  height: 40px;
  border-radius: 5px;
  max-width: 300px;
  padding: 5px;
}
